
body{
    font-weight: 500;
    background-image: url('../assets/greysquares.png')
}

#footer{
    border-top: 10px solid #616161;
    bottom: -100px;
}

#kh{
    margin-left: 20px;
}


.link{
    margin-right:12px;
    
}

#copy{
    margin-top: 5px;
    font-size: 16px;
    padding: 0px;
}

.click{
    margin-top: -5px;;
}

h2{
    font-family: 'Pacifico', cursive;
    /* color: #616161; */

}

#drop{
    padding-top: 3px;
    height: 57px;
}

#row1{
    border-bottom: 10px solid #616161;
}