
body{
    font-weight: 500;
    background-image: url('../assets/lightpaperfibers.png')
}

#footer{
    border-top: 10px solid #616161;
    bottom: -100px;
}

#kh{
    margin-left: 20px;
}


#link{
    font-size: 16px;

}


h2{
    font-family: 'Pacifico', cursive;
    /* color: #616161; */

}

#drop{
    padding-top: 3px;
    height: 57px;
}